.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
.fa-comment {
  margin-right: 5px;
}

#textarea {
  width: 415px;
  height: 25px;
}
.video__comment-form {
  display: flex;
}
.video__comment-form button {
  color: white;
  background-color: black;
  padding: 0px 10px;
  margin-left: 5px;
  border-radius: 20px;
  border: none;
}
